body {
  margin: 0;
}
.header {
  background-color: #9b3a3a;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
}
.footer {
  background-color: #dadd42;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  width: 20vw;
  background-color: #74b85c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.articleContainer article {
  margin: 10px;
  width: 260px;
  height: 260px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
